<header class="header clearfix">
    <div class="centered-menu-wrap">
        <div class="logo-block mobile"> <a class="logo" routerlink="">

              <img class="f-logo" src="assets/img/logo.png" alt="Miami">

          </a>
        </div>
        <nav class="main-nav">
            <ul id="menu-top-left-menu" class="anchor-navigation">
                <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item "><a routerLink="" class="anchor-scroll" data-hash="">&#xE2B;&#xE19;&#xE49;&#xE32;&#xE41;&#xE23;&#xE01;</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item "><a href="#about" class="anchor-scroll" data-hash="#about">&#xE40;&#xE01;&#xE35;&#xE48;&#xE22;&#xE27;&#xE01;&#xE31;&#xE1A;&#xE40;&#xE23;&#xE32;</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item "><a href="#contact" class="anchor-scroll" data-hash="#contact">&#xE15;&#xE34;&#xE14;&#xE15;&#xE48;&#xE2D;&#xE40;&#xE23;&#xE32;</a>
                </li>
            </ul>
            <div class="logo-block"> <a class="logo" routerlink="">

                  <img class="f-logo" src="assets/img/logo.png" alt="Miami">

              </a>
            </div>
            <ul id="menu-top-right-menu" class="anchor-navigation">
                <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item "><a href="#download" class="anchor-scroll" data-hash="#download">&#xE14;&#xE32;&#xE27;&#xE19;&#xE4C;&#xE42;&#xE2B;&#xE25;&#xE14;&#xE40;&#xE01;&#xE21;</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item "><a href="#download" class="anchor-scroll" data-hash="#download">&#xE27;&#xE34;&#xE18;&#xE35;&#xE15;&#xE34;&#xE14;&#xE15;&#xE31;&#xE49;&#xE07;</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item "><a href="#register" class="anchor-scroll" data-hash="#register">&#xE2A;&#xE21;&#xE31;&#xE04;&#xE23;&#xE2A;&#xE21;&#xE32;&#xE0A;&#xE34;&#xE01;</a>
                </li>
            </ul>
        </nav>
    </div>
    <button class="cmn-toggle-switch"><span></span>
    </button>
</header>