

<div id="about" class="padding-lg-130t padding-xs-0t">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="block-header margin-lg-10t margin-lg-25b margin-sm-5t margin-xs-5t ">
                   <h2 class="block-title">{{ title_th }}</h2>
                   <img src="assets/img/logo-918kiss.png" alt="" style="height: 190px; width: auto"> 
                  <div class="block-text">
                    <p>
                      918KissKing คือแบรนด์ที่มีชื่อเสียงผู้ให้บริการด้านคาสิโนออนไลน์ เป็นที่รู้จักกันดีในเรื่องความมั่นคงด้านการเงิน ความปลอดภัย ความไว้ใจจากลูกค้า
                      918KissKing คือเว็ปไซต์อันดับหนึ่งด้านคาสิโนออนไลน์พร้อมบริการท่าน 24 ชั่วโมงพร้อมโปรโมชั่นมากมายรอท่านอยู่
                      นอกจากนี้ทางเรายังมีให้ท่านเลือกใช้บริการ 2 แอปพลิเคชั่นได้แก่ 918Kiss และ king168 มีเกมส์ให้ท่านเลือกมากมาย
                      หลายประเภท ทั้งนี้ยังรองรับการบริการเล่นผ่านเว็ปและมือถือ รองรับ ios และ android เล่นได้ทุกที่ ทุกเวลา
                      สนใจสมัครสมาชิกกับเราติดต่อที่
                      <br/>line : {{ line.id }}
                    </p>
                  </div>
              </div>
          </div>
      </div>
    
  </div>
</div>
