.a-btn {
    background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
}

.service-block {
    height: 100%;
}

.service-entry {
    height: 100%;
}