<div class="promotion-detial">

  <div class=" padding-xs-15t">
    <div class="container box">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="block-header ">
              <h1 class="wow bounceInCenter">กิจกรรมแจกฟรี
                <span style="color:goldenrod">฿2500</span>
              </h1>
              <div class="block-text">
                <p>สมัคร918Kiss ดาวน์โหลดเกม918Kiss เกมคาสิโนออนไลน์บนมือถือ รับโปรโมชั่นดีที่สุดมากมาย </p>
              </div>
              <div class="box-img-cover" style="display: flex; justify-content: center;">
                <img src="assets/img/promotions/promotion_free_2500.jpg" class="rounded mx-auto d-block" alt="Scrkingth แจก 1000"  style="max-width: 400px; height: auto; max-height: 400px"
                />
              </div>

            </div>
            <div class="detail">
              <div class="block-text" style="display: flex">

                <ol>
                  <p>รางวัล: เงินในแอปเกม KING168 </p>
                  <p>รายละเอียดกิจกรรม: </p>
                  <li>แชร์เพจและภาพกิจกรรมแจกฟรี 2500 บาท บนเพจ 918kissking แบบสาธารณะพร้อมข้อความ #king168 #918kissking #scrkingth
                    #slotยิงปลา
                    <br>***แชร์แบบสาธารณะแล้วแคปมายืนยันกับทางเรานะคะ และเพื่อนต้องไม่ต่ำกว่า 400 คน***
                  </li>
                  <li>แชร์กิจกรรมฟรี 2500 บาท บนทามไลน์ 918kissking คลิก
                    <a [href]="line.link" target="_bank">{{ line.id }}</a> ไปยังหน้า lineของลูกค้า พร้อมข้อความ {{ line.id }}</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="block-header margin-lg-10t margin-lg-25b margin-sm-5t margin-xs-5t ">
              <h1 style="color:#3b5998">Facebook กด LIKE & SHARE พร้อมแฮชแทค #king168 #918kissking #scrkingth #slotยิงปลา</h1>
              <div class="block-text">

              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
                <div class="box">
                  <div class="col-xs-12" *ngFor="let free1000_facebook of FREE1000_FACEBOOK">
                    <div class="box">
                
                      <p class="block-title">{{free1000_facebook.step}}. {{ free1000_facebook.how_to }}</p>
                      <img src="assets/img/promotions/free1000/facebook/{{ free1000_facebook.image }}" alt="">
                    </div>
                  </div>
                </div>
              </div> -->
      </div>

      <div class="col-md-12">
        <div class="post4 wow bounceInRight">
          <div class="post4_header-block wow bounceInUp">

            <a href="https://www.facebook.com/918kissking/" target="_blank">
              <h2 class="block-title">1.เข้ามาที่เพจ
                <br>918kissking
              </h2>
            </a>
          </div>
          <div id="fb-root"></div>
          <div class="fb-page" data-href="https://www.facebook.com/918kissking/" data-tabs="timeline" data-height="520" data-width="300"
            data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/918kissking/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/918kissking/">918kissking</a>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="post4 wow bounceInRight">
          <div class="post4_header-block wow bounceInUp">

            <h2 class="block-title">2.ถูกใจ
              <br>LIKE</h2>
          </div>
          <div class="fb-like" data-href="https://www.facebook.com/918kissking/" data-layout="box_count" data-action="like" data-size="small"
            data-show-faces="false" data-share="false"></div>
          <div class="col-xs-12">
            <img src="assets/img/promotions/free1000/facebook/step_like.jpg" alt="" />
          </div>

        </div>
      </div>
      <div class="col-xs-12">
        <div class="post4 wow bounceInRight">
          <div class="post4_header-block wow bounceInUp">

            <h2 class="block-title">3.กดเห็นโพสต์ก่อน
              <br>SEE FIRST</h2>
          </div>
          <div class="col-xs-12">
            <img src="assets/img/promotions/free1000/facebook/step_follow.jpg" alt="" />
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="post4 wow bounceInRight">
          <div class="post4_header-block wow bounceInUp">
            <h2 class="block-title">4.แชร์เพจ
              <br>SHARE PAGE</h2>
          </div>
          <div class="col-xs-12">
            <img src="assets/img/promotions/free1000/facebook/step_share_page.jpg" alt="" />
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="post4 wow bounceInRight">
          <div class="post4_header-block wow bounceInUp">
            <h2 class="block-title">5.แชร์โพสต์กิจกรรม
              <br>SHARE POST</h2>
          </div>
          <div class="fb-share-button" data-href="https://www.facebook.com/918kissking/photos/a.854761948031627.1073741828.853787758129046/860525047455317/?type=3&amp;theater"
            data-layout="box_count" data-size="large" data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2F918kissking%2Fphotos%2Fa.854761948031627.1073741828.853787758129046%2F860525047455317%2F%3Ftype%3D3%26theater&amp;src=sdkpreparse">แชร์</a>
          </div>
          <div class="col-xs-12">
            <img src="assets/img/promotions/free1000/facebook/step_share.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="post4 wow bounceInRight">
          <div class="post4_header-block wow bounceInUp">
            <h2 class="block-title">6.พิมพ์
              <br>#king168 #918kissking #scrkingth #slotยิงปลา
              <br>(เว้นวรรคด้วยนะคะ)
            </h2>
          </div>
          <img src="assets/img/promotions/free1000/facebook/step_hashtag.jpg" alt="" />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="post4 wow bounceInRight">
          <div class="post4_header-block wow bounceInUp">

            <h2 class="block-title">7.โพสต์และแคปภาพหน้าจอ
              <br>post&capture</h2>
          </div>
          <img src="assets/img/promotions/free1000/facebook/step_capture.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="block-header margin-lg-10t margin-lg-25b margin-sm-5t margin-xs-5t ">
            <h1 style="color:#00B900">LINE กด LIKE & SHARE พร้อมแฮชแทค @918KING</h1>
            <div class="block-text">

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="how-to-detail">
          <div class="col-12" *ngFor="let free1000_line of FREE1000_LINE">
            <div class="box">
              <p class="block-title">{{free1000_line.step}}. {{ free1000_line.how_to }}</p>
              <img src="assets/img/promotions/free1000/line/{{ free1000_line.image }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="box">
          <div class="col-xs-12">
            <div class="box">
              <div class="col-12">
                <p class="block-title">ส่งภาพที่แคปมาที่ห้องไลน์ {{ line.id }} กดปุ่มข้างล่างได้เลยค่ะ</p>
                <p>1.ส่งภาพที่แชร์ใน facebook
                  <br>2.ส่งภาพที่แชร์ใน LINE
                  <br>**ต้องส่งทั้ง 2 ภาพนะคะ**
                </p>
                <br>
                <div class="line-it-button" style="display: none;" data-lang="en" data-type="friend" data-lineid="@918KING" data-count="true"
                  data-home="true"></div>
                <br>
                <a [href]="line.link" target="_bank" style="color:#00B833">
                  <i class="icofont icofont-brand-line-messenger" style="font-size:2.7em">{{ line.id}}</i>
                </a>

                <!-- <div *ngFor="let free1000_finish of FREE1000_FINISH">
                            <img src="assets/img/promotions/free1000/line/{{ free1000_finish.image }}" alt="">
                        </div>                     -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-game-list></app-game-list>
<app-downloads></app-downloads>
<app-how-to-register></app-how-to-register>
