<!-- baner -->
<!-- <div id="home">
  <div class="banner-wrap  js-bg-img">
    <img src="assets/img/background/bg4.jpg" alt="">
    <div class="content margin-lg-100t margin-sm-50t">
      <h1 class="title animatedBlock " style="color:#9C0014; font-size: 3em">สมัคร และดาวน์โหลด 918Kiss วันนี้</h1>
      <div class="text animatedBlock">
        <p>Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod &nbsp;idunt ut labore et dolore magna aliqua.
          Ut enim ad minim inim veni</p>
      </div>
      <div class="container">
        <div class="col-md-12">
          <div class="box">
            <owl-carousel [options]="{items: 1, dots: false, navigation: false}" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
              <div class="item" *ngFor="let image of images;let i = index" >
                <img [src]="'assets/img/promotions/'+image" alt="" class="rounded mx-auto d-block">
              </div>
            </owl-carousel>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="jackpotwrap" >
        <div id="jp_0" class="jackpotamount">{{ ticks | currency }}</div>
      </div>
    </div>
  </div>
</div> -->

<!-- baner -->
<!-- <div id="home-page-1" class="js-bg-img padding-lg-35t">
  <img src="assets/img/background/bg4.jpg" alt="">
  <div id="home">
      <div class="banner-slider-wrap padding-sm-30b ">
          <div class="swiper-container  " data-mode="horizontal" data-autoplay="0" data-loop="true" data-speed="600" data-slides-per-view="responsive" data-add-slides="1" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1">
              <div class="swiper-wrapper">
                  <div class="swiper-slide " *ngFor="let image of images;let i = index">
                      <div class="slider-content">
                          <div class="container">
                              <div class="row">
                                  <div class="col-xs-12 col-md-7 ">
                                      <div class="left-block">
                                          <div>
                                            <a routerLink="/promotions/free1000">
                                              <img [src]="'assets/img/promotions/'+image" alt="">
                                            </a>
                                            
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-xs-12 col-md-5">
                                      <div class="right-block">
                                          <div class="description">                                             
                                                  <h1 class="title animatedBlock " style="color: red;text-shadow: 2px 2px black;">
                                                    เกมคาสิโน ยิงปลา บาคารา แข่งม้า สล็อต สมัครและดาวน์โหลดเกม 918Kiss กับทาง 918KISSKING วันนี้รับโปรโมชันมากมาย
                                                  </h1>
                                          </div>                 
                                          <a routerLink="/promotions/free1000" class="event_btn a-btn anchor-scroll">โปรโมชัน </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            
                  
              </div>
              <div class="pagination "></div>
              <div class="swiper-arrow swiper-arrow-left"></div>
              <div class="swiper-arrow swiper-arrow-right"></div>
          </div>
      </div>
  </div>
</div> -->





<div id="home-page-1" class="bg-full padding-lg-100t padding-xs-80t">
  <div class="row">
    <div class="container">
      <div class="col-md-7 col-xs-12">
        <owl-carousel [options]="{items: 2, dots: true, navigation: true, loop: true, autoplay: true, center:true, nav:true,responsiveClass:true,  responsive : {
          '0' : {
              items: 1
          },
          '768' : {
              items: 1
          },
         '960' : {
              items: 1
          },
          '1200' : {
              items: 1
          },
          '1920' : {
              items: 1
          }
      }}" [items]="promotions" [carouselClasses]="['owl-theme', 'col', 'sliding']">
          <div class="item" *ngFor="let promotion of promotions;let i = index">
              <a [routerLink]="promotion.link">
                <img [src]="'assets/img/promotions/'+promotion.image" alt="" class="rounded mx-auto d-block">
              </a>            
          </div>
        </owl-carousel>
        <!-- <owl-carousel [options]="{nav : true, slideBy : 2 ,margin :14 ,responsive: {       '0': {  items: 1, margin: 5 },
                                '480': { items: 2,  margin: 5 },
        			'640': { items: 3, margin: 5 }
                           }  }" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item" *ngFor="let image of images;">
              <img [src]="'assets/img/promotions/'+image" alt="" class="rounded mx-auto d-block">
            <div class="thumbnail-image" [ngStyle]="''"></div>
          </div>
        </owl-carousel> -->
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="right-block">
          <div class="description">
            <h1 class="title animatedBlock " style="font-size: 1.7em; color: #9A0000;text-shadow: 2px 2px black;">
              เกมคาสิโน ยิงปลา บาคารา แข่งม้า สล็อต สมัครและดาวน์โหลดเกม 918Kiss กับทาง 918KISSKING วันนี้รับโปรโมชั่นมากมาย
            </h1>
          </div>
          <!-- <a routerLink="/promotions/free1000" class="event_btn a-btn anchor-scroll">โปรโมชั่น </a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="row">
  <div class="jackpotwrap">
    <div id="jp_0" class="jackpotamount">
      <span style="font-size:0.7em">{{ ticks | currency }}</span>
    </div>
  </div>
</div>
