<div id="download" class="padding-lg-130t padding-xs-0t">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block-header margin-lg-10t margin-lg-25b margin-sm-5t margin-xs-5t ">
                     <h2 class="block-title">{{title_en}} {{ title_th }}</h2>
                    <div class="block-text">
                        <p>{{ description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xl-4 col-lg-4 col-12">
                <div class="services-wrap animatedBlock">
                    <div class="service-block service-entry">
                        <div class="block-icon"> <i class="miami-icon fa fa-android" aria-hidden="true" style="font-size: 1.875em;"></i>
                        </div>
                         <h4 class="service-title">android</h4>
                        <div class="service-text">918Kiss android</div>
                        <div style="margin-top: 10px"> <a href="https://m.918kiss.com/" class="a-btn" target="_bank" style="background-color: #A4C639">DOWNLOAD</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 col-lg-4 col-12">
                <div class="services-wrap animatedBlock">
                    <div class="service-block service-entry">
                        <div class="block-icon"> <i class="miami-icon fa fa-apple" aria-hidden="true" style="font-size: 1.875em"></i>
                        </div>
                         <h4 class="service-title">iOS (iOS 64bit)</h4>
                        <div class="service-text">Iphone 5s+ &#xE02;&#xE36;&#xE49;&#xE19;&#xE44;&#xE1B;</div>
                        <div style="margin-top: 10px"> <a href="https://m.918kiss.com/" class="a-btn" target="_bank" style="background-color: #FD9426">DOWNLOAD</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 col-lg-4 col-12">
                <div class="services-wrap animatedBlock">
                    <div class="service-block service-entry">
                        <div class="block-icon"> <i class="miami-icon fa fa-apple" aria-hidden="true" style="font-size: 1.875em"></i>
                        </div>
                         <h4 class="service-title">iOS (iOS 32bit)</h4>
                        <div class="service-text">Iphone 5 Or Iphone 5- &#xE25;&#xE07;&#xE21;&#xE32;</div>
                        <div style="margin-top: 10px"> <a href="https://m.918kiss.com/" class="a-btn" target="_bank" style="background-color: #FECB2E">DOWNLOAD</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>