<div class="promotion-detial">

    <div class=" padding-xs-15t">
        <div class="container box">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="block-header ">
                  <h1 class="wow bounceInCenter">กิจกรรมแจกฟรี
                    <span style="color:goldenrod">฿50</span>
                  </h1>
                  <div class="block-text">
                    <p>สมัคร918Kiss ดาวน์โหลดเกม918Kiss เกมคาสิโนออนไลน์บนมือถือ รับโปรโมชั่นดีที่สุดมากมาย </p>
                  </div>
                  <div class="box-img-cover" style="display: flex; justify-content: center;">
                    <img src="assets/img/promotions/promotion_free_50.jpg" class="rounded mx-auto d-block" alt="Scrkingth แจก 1000" style="width: 400px; height: auto;"
                    />
                  </div>
            
                </div>
                <div class="detail">
                    <div class="block-text" style="display: flex">
                        
                        <ol>
                            <p>รางวัล: เงินในแอปเกม 918KISS หรือ KING168 </p>
                            <p>รายละเอียดกิจกรรม: </p>
                          <li>แชร์เพจและภาพกิจกรรมแจกฟรี 50 บาท บนเพจ  Scrkingth แบบสาธารณะพร้อมข้อความ #king168 #918kissking #scrkingth #slotยิงปลา
                            <br>***แชร์แบบสาธารณะแล้วแคปมายืนยันกับทางเรานะคะ และเพื่อนต้องไม่ต่ำกว่า 400 คน***
                          </li>
                          <li>แคปภาพหน้าจอโพสต์ที่แชร์ แล้วส่งมาที่ <a [href]="line.link" target="_bank">{{ line.id }}</a></li>
                        </ol>
                      </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="block-header margin-lg-10t margin-lg-25b margin-sm-5t margin-xs-5t ">
                  <h1 style="color:#3b5998">Facebook กด LIKE & SHARE พร้อมแฮชแทค #king168 #Scrkingth #scrkingth #slotยิงปลา</h1>
                  <div class="block-text">
      
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row">
                <div class="box">
                  <div class="col-xs-12" *ngFor="let free50_facebook of free50_FACEBOOK">
                    <div class="box">
                
                      <p class="block-title">{{free50_facebook.step}}. {{ free50_facebook.how_to }}</p>
                      <img src="assets/img/promotions/free50/facebook/{{ free50_facebook.image }}" alt="">
                    </div>
                  </div>
                </div>
              </div> -->
          </div>
      
          <div class="col-md-12">
            <div class="post4 wow bounceInRight">
              <div class="post4_header-block wow bounceInUp">
      
                <a href="https://www.facebook.com/Scrkingth/" target="_blank">
                  <h2 class="block-title">1.เข้ามาที่เพจ
                    <br>Scrkingth
                  </h2>
                </a>
              </div>
              <div id="fb-root"></div>
              <div class="fb-page" data-href="https://www.facebook.com/Scrkingth/" data-tabs="timeline" data-height="520" data-width="300" data-small-header="false" data-adapt-container-width="true"
                data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/Scrkingth/" class="fb-xfbml-parse-ignore">
                  <a href="https://www.facebook.com/Scrkingth/">Scrkingth</a>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="post4 wow bounceInRight">
              <div class="post4_header-block wow bounceInUp">
      
                <h2 class="block-title">2.ถูกใจ
                  <br>LIKE</h2>
              </div>
              <div class="fb-like" data-href="https://www.facebook.com/Scrkingth/" data-layout="box_count" data-action="like" data-size="small"
                data-show-faces="false" data-share="false"></div>
              <div class="col-xs-12">
                <img src="assets/img/promotions/free50/facebook/step_like.jpg" alt="" />
              </div>
      
            </div>
          </div>
          <div class="col-xs-12">
            <div class="post4 wow bounceInRight">
              <div class="post4_header-block wow bounceInUp">
      
                <h2 class="block-title">3.กดเห็นโพสต์ก่อน
                  <br>SEE FIRST</h2>
              </div>
              <div class="col-xs-12">
                <img src="assets/img/promotions/free50/facebook/step_follow.jpg" alt="" />
              </div>
            </div>
          </div>
      
          <div class="col-xs-12">
            <div class="post4 wow bounceInRight">
              <div class="post4_header-block wow bounceInUp">
                <h2 class="block-title">4.แชร์โพสต์กิจกรรม
                  <br>SHARE</h2>
              </div>
              <div class="fb-share-button"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">แชร์</a></div>
              <div class="col-xs-12">
                <img src="assets/img/promotions/free50/facebook/step_share.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="post4 wow bounceInRight">
              <div class="post4_header-block wow bounceInUp">
                <h2 class="block-title">5.พิมพ์
                  <br>#king168 #918kissking #scrkingth #slotยิงปลา
                  <br>(เว้นวรรคด้วยนะคะ)
                </h2>
              </div>
              <img src="assets/img/promotions/free50/facebook/step_hashtag.jpg" alt="" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="post4 wow bounceInRight">
              <div class="post4_header-block wow bounceInUp">
      
                <h2 class="block-title">6.โพสต์และแคปภาพหน้าจอ
                  <br>post&capture</h2>
              </div>
              <img src="assets/img/promotions/free50/facebook/step_capture.jpg" alt="" />
            </div>
          </div>   
        </div>
      
      
        <div class="container">
          <div class="row">
            <div class="box">
              <div class="col-xs-12">
                <div class="box">
                  <div class="col-12">
                      <p class="block-title">ส่งภาพที่แคปมาที่ห้องไลน์ {{ line.id }} กดปุ่มข้างล่างได้เลยค่ะ</p>
                      <p>1.ส่งภาพหน้าจอที่แชร์ใน facebook</p>
                      <br>
                      <div class="line-it-button" style="display: none;" data-lang="en" data-type="friend" data-lineid="@918KING" data-count="true" data-home="true"></div>
                      <br>
                      <a [href]="line.link" target="_bank" style="color:#00B833"><i class="icofont icofont-brand-line-messenger" style="font-size:2.7em">{{ line.id}}</i></a>
                      
                        <!-- <div *ngFor="let free50_finish of free50_FINISH">
                            <img src="assets/img/promotions/free50/line/{{ free50_finish.image }}" alt="">
                        </div>                     -->
                  </div>      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<app-game-list></app-game-list>
<app-downloads></app-downloads>
<app-how-to-register></app-how-to-register>
